<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clara.ejercicio11" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Parte1" >
        </activity>
        <activity android:name=".Parte2" >
        </activity>
        <activity android:name=".Parte3" >
        </activity>
    </application>

</manifest>
